Django==5.0.2
django-crispy-forms==2.1
crispy-bootstrap5==0.7
django-widget-tweaks==1.5.0
gunicorn==21.2.0
whitenoise==6.6.0
django-recaptcha==4.0.0
django-otp==1.2.3
psycopg2-binary==2.9.9
PyMySQL==1.1.0
cloud-sql-python-connector
qrcode[pil]
dj-database-url
psycopg2-binary
django-environ
